@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

$font: "Roboto", sans-serif;
$primary-color: #3e6f9e;
$background: #212121;

body {
  color: $primary-color;
  background-color: $background;
}

.root-button {
  font-family: $font;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;

  &:hover {
    background-color: #4d4d4d;
    color: white;
  }
}
